@import '../../styles/settings.scss';



.component{width: 250px;
border: 1px solid rgba(0,0,0,.125);
margin: 0 auto;
border-radius: 5px;
overflow: hidden;}

.imgstyle {
    
    width: 100%;
}

select {
    background-color: #343a40;
    color: #fff;
    height: 32px;
    width: 70px;
    position: relative;
    top: -2px;}